@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jsa4nf');
  src:  url('fonts/icomoon.eot?jsa4nf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jsa4nf') format('truetype'),
    url('fonts/icomoon.woff?jsa4nf') format('woff'),
    url('fonts/icomoon.svg?jsa4nf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-line-graph:before {
  content: "\e905";
}
.icon-notes:before {
  content: "\e906";
}
.icon-portfolio:before {
  content: "\e901";
}
.icon-users:before {
  content: "\e972";
}
.icon-document:before {
  content: "\e924";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-enlarge:before {
  content: "\e989";
}
.icon-employee-list:before {
  content: "\e9bb";
}
.icon-horizontal-bars:before {
  content: "\2e";
}
.icon-vertical-bars:before {
  content: "\e909";
}
.icon-settings:before {
  content: "\e908";
}
.icon-bag:before {
  content: "\e907";
}
.icon-help:before {
  content: "\e903";
}
.icon-plus:before {
  content: "\e904";
}
.icon-home:before {
  content: "\e900";
}
.icon-resize:before {
  content: "\e902";
}
